<!doctype html>
<html>
    <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    </head>

    <div class="container">
      <div class="content">
        <img src="https://lh3.googleusercontent.com/lw-hJDNMsvncbgq-XGXcZ572qvOP6huVmBKky2w0CfJv6niL-87qAxh6s0BNKCxTNDH12eayaSoD882Ij9025O2FegzXc2z53dophSqh46MOgf3gBU1SUUicJi8zTOMTYvN9ZcCB3Q=w2400" alt="table lol">
      </div>
    </div>

</html>